.note-app
{
    min-height:100vh;
    display: grid;
    min-width:74vw;
    grid-template-columns:30% 70% ;
    grid-template-rows: 10vh 90vh;
    
    
}

.note-app > *
{
    background-color: rgb(29,35,39);
}

.note-app > .header1
{
    display: flex;
    padding: 1vmin;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    font-weight: 500;
    border-bottom: .05vmin solid grey;
    border-right: .05vmin solid grey;
    

}
.note-app > .header2
{
    display: flex;
    align-items: center;
    font-size: 3vmin;
    padding: 0 3vmin 0 4vmin;
    justify-content: space-between;
    border-bottom: .05vmin solid grey;
   
   
}
.header2 > div
{
    
    transition: all .4s;
    cursor: pointer;

}

.header2>div:hover
{
   transform: scale(1.05,1.05);
  
}


.note-app > .sidebar
{
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    border-right: .05vmin solid grey;
    
    
}

.sidebar::-webkit-scrollbar {
    width: .9vmin;
  }
  
  .sidebar::-webkit-scrollbar-track {
      
    background-color: rgba(29, 35, 39, 0.897);
    
  }
   
  .sidebar::-webkit-scrollbar-thumb {
    background:rgb(145, 145, 145);
    border-radius: .5vmin;
  }
  
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 88, 88); 
  }
.sidebar-search
{
    height:7vmin;
    margin-bottom: 2vmin;
    display: flex;
    flex-wrap: wrap;
    border-bottom: .1vmin solid grey;

}
.sidebar-search >div
{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    height:100%;
}
.sidebar-search > input
{
    display: inline-block;
    width: 85%;
    font-size: 2.6vmin;
     border: 0;
    background-color: transparent;
}
.sidebar-search > input:focus
{
    outline: 0;
    border: 0;
}
.note-main
{
    padding: 1vmin;
}
.note-app > .note-main > .note-main-title
{
    min-height:6%;
   display: flex;
   justify-content: center;
   margin-bottom: 2vmin;
   align-items: center;

}
.note-main-title > input
{
    display: inline-block;
    background-color: rgb(29,35,39);
    border: 0;
    outline: 0;
    font-size: 4.2vmin;
    letter-spacing: .1vmin;
    border-bottom: .1vmin solid grey;
    width: 70%;
    padding-top: 2vmin;
    padding-left:0;
   padding-bottom: .5vmin;
    min-height: 100%;
}

.note-main-title > input:focus
{
    outline: 0;
    border-bottom: .1vmin solid grey;
}
.note-app > .note-main > .note-main-body
{
    height:88%;
   display: flex;
   justify-content: center;
   margin-bottom: 2vmin;

}
.note-main-body > textarea
{
    display: inline-block;
    background-color: rgb(29,35,39);
    border: 0;
    outline: 0;
    font-size: 3vmin;
    line-height: 1.2;
    letter-spacing: .15vmin;
    min-width: 90%;
    padding: 0;
    max-width: 90%;
    min-height: 100%;
    max-height: 100%;
}


.note-main-body > textarea:focus
{
    outline: 0;
    border:0;
}

.save-btn
{
    padding: 1vmin;
    margin-left: 2vmin;
    font-size: 3vmin;
    background-color: var(--blue);
    border-radius: 1vmin;
    border: 0;
    transition: all .2s;
    cursor: pointer;
}
.save-btn:disabled
{
    background-color: transparent;
    border: .1vmin solid grey;
    color:grey;
    opacity: .6;
}
.save-btn:hover
{
    opacity: .6;
}
.no-notes
{
    height:8vmin;
    font-size: 2.1vmin;
    display: flex;
    justify-content: center;
    color: rgba(128, 128, 128, 0.753);
    align-items: center;
    padding: 3vmin;
}

@media screen and (max-width:720px) {
    .note-app
   {
       min-height:100vh;
       display: grid;
       min-width:74vw;
       grid-template-columns:40% 60% ;
       grid-template-rows: 8vh 92vh;
       
   }
}
