.hide
{
    
    height:0;
    width: 0;
    display: none;
}
.alertbox-error,.alertbox-success
{
    display: block;
    width: 50.5vmin;
    height: 8.2vmin;
    background: rgba(0,0,0,0.8);
     color:rgb(255, 0, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
     position: fixed;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
     left: 44%;
     border-radius:.9vmin;
     font-size: 3.5vmin;
      top:12%;
      margin-left: -10vmin;
      overflow:hidden;
      background: inherit;
     

}
.alertbox-success
{
    color:green;
}
.alertbox-error::before,.alertbox-success::before {
    box-shadow: inset 0 0 2000px rgba(95, 33, 33, 0.644);
    filter: blur(40px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
}
.alertbox-success::before
{
    box-shadow: inset 0 0 2000px rgba(50, 94, 44, 0.493);
   

}
