.main,.features
{
    margin-top: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.main > div:first-child
{
    font-size: 8vmin;
    font-weight: bold;
    display: flex;
    max-width:50%;
    margin-bottom: 3vmin;
    line-height: 1.2;
    text-align: center;

    
}
.main > div
{
    max-width: 55%;
    font-size: 3.2vmin;
    margin-bottom: 3vmin;
    text-align: center;

}
.main > .main-btn-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}


.main > .main-btn-area > .main-btn
{
    padding:1.4vmin;
    border-radius: .75vmin;
    font-size: 3vmin;
    transition: all .25s;
    cursor: pointer;
    background-color: var(--blue);
}
.main-btn:hover
{
    opacity: .6;
}
.main-btn > a
{
    text-decoration: none;
}
.home_bg
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:4vmin 0 4vmin 0;
}

.features .features-box
{
    margin-bottom: 5vmin;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.features> div:first-child
{
    font-size: 7vmin;
    font-weight: bold;
    display: flex;
    max-width:50%;
    margin-bottom: 6vmin;
    line-height: 1.2;
    text-align: center;

}
.features-box
{
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
}
.features-box>div
{
    width: 40%;
    text-align: center;
}
.features-box >div > h1
{
    text-align: center;
    font-weight: bold;
    font-size: 4vmin;
    
}

.features-box >div > .feature-info
{
    max-width: 100%;
    padding: 2vmin;
    text-align: center;
    letter-spacing: .1vmin;
    font-size: 2vmin;
}


