.login-main-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 59vh;
    width:100%;
}
.login-main-box > .login-container
{
    width:50%;
    

}
.login-container > h1
{
    color:var(--blue);
    margin: 0;
    font-size: 5vmin;
    line-height: 1.2;
}
.login-container > p
{
    margin: 0;
    font-size: 2.5vmin;
}
.login-form
{

    margin-top: 3vmin;
    height:auto;
}
.login-form > label
{
    font-size: 2.2vmin;
    display: inline-block;
    margin-bottom: 1vmin;

}
.login-form > input
{
    min-width:70%;
    height:7vmin;
    border: 0;
    border-radius: 1vmin;
    font-size: 2.5vmin;
    color:white;
    outline: 0;
    margin-bottom: 2vmin;
    padding:1vmin;
    background-color: rgb(68, 68, 68);
    transition: border .25s;
}
.login-form > input:focus
{
    outline: 0;
    border: .1vmin solid var(--blue);

}
.login-form > .login-submit
{
    border: 0;
    position: relative;
    margin: 2vmin auto 2vmin auto;
    height:7vmin;
    min-width: 70%;
    letter-spacing: .2vmin;
    padding: 1vmin;
    font-size: 3vmin;
    transition: all .25s;
    border-radius:.5vmin;
    background-color: var(--blue);
    cursor: pointer;
}
.login-form > .login-submit:disabled
{
    
    background-color: transparent;
    border: .2vmin solid grey;
    color:grey;
    opacity: .6;
}
.login-form > .login-submit:hover
{
    opacity:.6;
}

