*{
  
  color:rgba(255, 255, 255, 0.788);
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: rgb(58, 58, 58) !important;
    color: rgb(82, 82, 82) !important;
    -webkit-box-shadow: 0 0 0 1000px rgb(68, 68, 68) inset !important;
    -webkit-text-fill-color: white !important;
   
}


:root {
    --blue: #0058dd;
}
html
{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 1vmin;
}

::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
}
 
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: .5vmin;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::selection
{
  background-color: rgb(179, 179, 179);
  color: rgb(26, 26, 26);
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(31,33,35);
}
